<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find messi_bot)/urdf/mobile_bot.urdf"/>
    <arg name="rviz_config_file" default="$(find messi_bot)/config/mobile_bot.rviz"/>
    

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config_file)"/>
  

    
    

</launch>