<launch>
 <node name="spawn1" pkg="gazebo_ros" type="spawn_model" args="-file $(find messi_bot)worlds/models/small_sphere/model.sdf -sdf -model small_ball -x .5 -y -.5 -z 1" />

<node name="spawn2" pkg="gazebo_ros" type="spawn_model" args="-file $(find messi_bot)worlds/models/medium_sphere/model.sdf -sdf -model medium_ball -x -.5 -y -.5 -z 1" />

<node name="spawn3" pkg="gazebo_ros" type="spawn_model" args="-file $(find messi_bot)worlds/models/large_sphere/model.sdf -sdf -model large_ball -x -.5 -y .5 -z 1" />

<node name="spawn4" pkg="gazebo_ros" type="spawn_model" args="-file $(find messi_bot)worlds/models/wall_box/model.sdf -sdf -model right_wall -x 1 -y 2.1" />

<node name="spawn5" pkg="gazebo_ros" type="spawn_model" args="-file $(find messi_bot)worlds/models/wall_box/model.sdf -sdf -model left_wall -x 0 -y 2.1" />

<node name="move" pkg="messi_bot" type="move_semi_random.py" />

</launch>
